.label-text {
    -fx-font-style: italic;
}

.content-text {
    -fx-font-weight: bold;
}

.section-box {
    -fx-border-color: black;
    -fx-border-width: 1;
    -fx-border-style: solid;
    -fx-padding: 20 20 10 20;
    -fx-spacing: 10;
    -fx-alignment: center;
}

.header-label {
    -fx-font-weight: bold;
    -fx-background-color: lightgrey;
    -fx-padding: 0 10 0 10;
}

.main-box {
    -fx-spacing: 20;
}

.table-view {
    -fx-border-color: black;
    -fx-border-width: 2px;
    -fx-font-size: 14px;
}

